service: kodekalesh25-backend

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    NODE_ENV: production

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /api/{proxy+}
          method: ANY
      - httpApi:
          path: /api
          method: ANY
    timeout: 30

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3000
