/* Container Component Styles */

.container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
  
  /* Default responsive padding */
  padding-left: 16px;
  padding-right: 16px;
}

/* Remove max-width constraint */
.container.fullWidth {
  max-width: 100% !important;
}

/* Remove padding */
.container.noPadding {
  padding-left: 0;
  padding-right: 0;
}

/* Responsive padding adjustments */
@media (min-width: 640px) {
  .container {
    padding-left:24px;
    padding-right:24px;
  }
}

@media (min-width:768px) {
  .container {
    padding-left:32px;
    padding-right:32px;
  }
}

@media (min-width:1024px) {
  .container {
    padding-left:40px;
    padding-right:40px;
  }
}

@media (min-width:1280px) {
  .container {
    padding-left:48px;
    padding-right:48px;
  }
}

.container.flex {
  display: flex;
}

.container.grid {
  display: grid;
}

.container.flexColumn {
  display: flex;
  flex-direction: column;
}

.container.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
